/* Empty. Add your own CSS if you like */

/*.on-dash-class{
  &.ng-enter {
    -webkit-animation: zoomOutUp 1s;
    -moz-animation: zoomOutUp 1s;
    -ms-animation: zoomOutUp 1s;
    animation: zoomOutUp 1s;
  }
  &.ng-leave {
    -webkit-animation: bounceOut 1s;
    -moz-animation: bounceOut 1s;
    -ms-animation: bounceOut 1s;
    animation: bounceOut 1s;
  }
}
*/


.on-dash{
  -webkit-animation:bounceIn .7s linear;
     -moz-animation:bounceIn .7s linear;
          animation:bounceIn .7s linear; 
}


.lddgame{
    text-align: center;
    margin: 0px auto;
    width: 200px;
}

.lddgame .title{
	color: rgb(12, 96, 238);
	font-weight: 700;
	font-size: 20px;
}

.lddgame .button{
    border: 30px solid #0c60ee;
    border-radius: 50%;
    margin: 10% auto;
    width: 150px;
    height: 150px;
    padding: 15px 18px;
    background-color: #0c60ee;
    color: white;
}

.lddgame .button .fa{
	-color: rgb(12, 96, 238);
}

.slider {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}
/*.slider-slide {
  color: #000;
  background-color: #ddd;
}*/

.button.ng-hide{
  display:none;
}

.lddgame, .scroll {
  height: 100%;
  min-height: 100%;
}

.green {
  color:#00ff00;
}

#map{
  width: 100%,
  height:100%;
}